h1{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(53, 131, 194);

}
body{
    background-color: rgb(127, 187, 255);
}
p{
    text-align: center;
}
.namal{
    color: blueviolet;
}

.namap{
    color: rgb(62, 123, 42);
}
.pekerjaan{
    color: rgb(26, 79, 201);
}

.kewarganegaraan{
    color: rgb(132, 40, 40);
}

.tanggallahir{
    color: rgb(190, 50, 50);
}

.agama{
    color: rgb(94, 71, 246);
}
.tinggi{
    color: rgb(124, 85, 37);
}

.grupmusik{
    color: rgb(218, 209, 24);
}

.subak{
    color: rgb(158, 0, 140);
}
.halu{
    color: rgb(36, 90, 93);
}